@import "./common.css";
@import "./display.css";
@import "./breakpoints.css";
@import "./utils.css";

body{
  padding: 1rem;
  color: var(--white);
  background-color: var(--main);
}
main{
  min-height: 80vh;
  align-self: stretch;
}
h1{
  text-align: center;
}

/* -- WELCOME --*/
.card{
  height: 132px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px var(--white);
  font-size: 12px;
}
.userImg{
  flex: 1 1 132px;
  border-radius: inherit;
}
.userImg>img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.infoUser,.bioUser{
  flex: 1 1 auto;
  width: calc(100% - 132px - .5rem);
  padding: 0px .5rem;
}
.bioUser>p{
  max-height: 3rem;
  line-height: 1rem;
  overflow: hidden;
}

@media screen and (max-width: 660px){
  .card{
    height: auto;
    flex-flow: column nowrap;
  }
  .userImg{
    width: 100%;
    flex: 0 1 100px;
  }
  .infoUser,.bioUser{
    width: 100%;
  }

  .infoUser, .bioUser{
    flex: 1 1 auto;
    padding: .5rem 1rem;
  }
}

/* GRID
.cardContainer{
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid white;
}
.card{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "img info" "img bio";
  gap: .5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px var(--white);
}
.userImg{
  grid-area:img; 
  border: 2px solid green;
}
.userImg>img{
  width: 100%;
  height: 100%;
}
.infoUser{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area:info;
  border: 2px solid blue;
}
.bioUser{ 
  grid-area:bio;
  border: 2px solid violet;
} */

